#---------------------------------------#
# Project Ignores                       #
#---------------------------------------#

# Maven
target/

# Compiled class file
*.class

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar



#---------------------------------------#
# IDEs & Editors Ignores                #
#---------------------------------------#

# Eclipse
.project
.classpath
.settings

# Netbeans
nbactions*.xml
nb-configuration*.xml

# JetBrains IDEs
.idea/
*.iml

# VS Code
/.vscode



#---------------------------------------#
# OSX Ignores                           #
#---------------------------------------#

.DS_Store
.AppleDouble
.LSOverride
.localized